body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}


a{
    text-decoration: none;
}

button{
    font-family: Robot, sans-serif;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    color: #f9faf8;
}

.top{
    padding: 0 100px 0 150px;
}

.header{
    display: flex;
    align-items: center;

}

.header .logo {
    flex: 1 0 200px;
}

.header-links{
    display: flex;
    gap: 16px;
    padding: 0px;

}

.top,.footer{
    background-color:#1f2937;
}

.header .logo{
    font-size: 24px;
}

.header .logo,
.header a{
    color: #f9faf8;
}

.header a{
    font-weight: 300;
    font-size: 16px;
}

.hero{
    display: flex;
    gap: 18px;
    align-items: center;
}

.hero h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero p,
.header ul{
    font-size: 18px;
    color: #e5e7eb;
}

.hero .image{
    background-color: #90949b;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #e5e7eb;
    flex: 0 1 700px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    margin-top: 0px;
}

.info h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.info .info-boxes{
    display: flex;
    justify-content: space-apart;
    gap: 15px;
}

.quote{
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.sign-up,
button{
    background-color: #3882f6;

}

.footer{

}

